.title-row {
    height: 10%;
}

.title {
    font-size: calc(1rem + 2.2vw);
    font-weight: 800;
}

.main-column {
    padding-right: 0;
}

.list-group-flush {
    max-height: 55vh; overflow-y: scroll; overflow-x: hidden;
}

.btnClass {
    display: flex;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.dropbtn, .removebtn {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: black;
    background-color: transparent;
    padding: 0px;
    width:110px;
  }

.removebtn {
    width: 160px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    font-size: 18px;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
    
.dropdown-content a:hover {background-color: #ddd;}
.removebtn:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}