a {
    color: inherit;
    font-weight: bold;
    padding-left: 0px;
    font-size: 1.25rem;
    text-decoration: none;
}

.container {
    max-width: 1320px;
}

button {
    width:60px;
    height:60px;
    padding: 0px;
    border:none;
    outline:none;
    font-size: 32px;
    cursor: pointer;
    opacity: 0.6;
    background-color: white;
    color: #c0c0c0;
  }
  
  .navbar-brand{
    margin-right: auto;
    padding: 24px;
    font-weight: bold;
  }
  
  .border-right{
    border-right: solid;
  }

  .menu-item {
    font-size: 1.15vw;
  }