/* Universal Style */
.container {
  max-width: 80%;
}

/* Font size */

h1 {
  font-size: 5vw
}

h2 {
  font-size: 2.5vw;
}

h3{
  font-size: 2.6vw;
  font-weight: 800;
}

p {
  margin-bottom: 0;
}

.list-group-item {
  padding: 2.5rem 0rem;
  font-size: 2.25vw;
}

/* New Task */
.add-task {
  font-size: 1.5vw;
  border: 0;
}

input {
  line-height: 0;
}

header button {
  width:60px;
  height:60px;
  padding: 0px;
  border:none;
  outline:none;
  font-size: 32px;
  cursor: pointer;
  opacity: 0.6;
  background-color: white;
  color: #c0c0c0;
}

.navbar-brand{
  margin-right: auto;
  padding: 24px;
  font-weight: bold;
}

.border-right{
  border-right: solid;
}


::-webkit-scrollbar{
  width: 0;
}

/* side-bar */
.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: #f1f1f1;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color:#444;
}