*{
}

.add-task {
    font-size: 1.5vw;
}

<<<<<<< HEAD
.title-row {
    height: 15%;
    overflow: hidden;
}

/* .title-col {
    position: relative;
    overflow: hidden;
    height: 100%;
} */

/* .title {
    position: absolute;
    top:0;
    left: 0;
} */

.content-row{
    height: 85%;
}

.new-task-title {
    line-height: 0;
=======
.title-row  {
    height: 15%;
    max-height: 15%;
    /* overflow: hidden; */
}

.new-task-title{
    font-size: calc(2.5rem + 0.5vw); 
    font-weight: 800;
>>>>>>> 29d5e1c29a2bf63564040e228f37b1109589958b
}

.note-col{
    padding-right: 0;
}

.subtitle{
    font-weight: 700
}

.notes-list{
    font-weight: 700; 
    margin-left: -0.2vw
}

.small-icon{
    font-size: 1.5vw;
}

.input-box{
    display: inline-flex;
}

.input-boxs{
    display: inline-flex; 
    flex: 1 0 0%; 
    max-width: 100%;
}

.details-icon {
    max-width: 2%;
    height: auto;
}

.details-text {
    width: 95%;
}

.submit-btn {
    background: transparent;
}