/* 漢堡選單的外觀 */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  color: inherit;
  padding: 10px 15px;
  border: none;
}
/* 滑鼠停滯於漢堡選單上的外觀   */
.openbtn:hover {
  background-color:transparent;
}

.sidepanel {
  /* width為250px時顯示,預設0px為隱藏 */
  position: fixed;
  /* element堆疊順序 */
  z-index: 1;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: #111;
  /* 截斷div內溢出的內容 */
  overflow-x: hidden;
  /* 過渡動畫時間 */
  transition: 0.5s;
  padding-top: 60px;
}
/* 內容外觀 */
.sidepanel a, .dropbtn {
  background-color: #111;
  border: none;
  padding: 8px 8px 8px 0px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
/* 滑鼠停滯於內容上的外觀   */
.sidepanel a:hover, .dropdown:hover .dropbtn {
  color: #f1f1f1;
}

.sidepanel .closebtn {
  /* 移出內容 */
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
color: #f1f1f1;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}